<!--Base template containing content/logic shared by all other pages-->
<html lang="en-US">
    <head>
        {% if title %}
            <title>{{ title }} - microblog</title>
        {% else %}
            <title>Welcome to microblog</title>
        {% endif %}
    </head>
    <body>
        <div> Microblog: <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        | <a href="{{ url_for('login') }}">Login</a>
        | <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
        </div>
        <hr>
        <!--Following handles flashed messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!--Block content from other templates added here...-->
        {% block content %}{% endblock %}
    </body>
</html>